body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// NAVBAR
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            
            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0%;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;
    
    &:hover {
        background-color: #1E3771;
        color: #ffffff;
    }
}

// HEADER
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('/frontend/images/header_bg.jpg');
    background-size: cover;

    h1, p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        font-weight: bold;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #fff;
        
        &:hover {
            background-color: #FF9E53;
            color: #fff;
        }
    }
}

// STATISTIC
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 50px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// POPULAR
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2, p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        
        .travel-country {
            font-size: 18px;
            color: #fff;
        }

        .travel-location {
            font-size: 26px;
            color: #fff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: #fff;
                
                &:hover {
                    background-color: #FFAE6F;
                    color: #fff;
                }
            }
        }

    }
}